<html>

  <head>
    <meta name="viewport" content="width=800, initial-scale=1">
    <title>I'LL DO THE HOT VOICE!!!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}"></link>
  </head>

  <body>
  </body>

  <script type=text/javascript>
    $STATIC_ROOT = {{ url_for('static', filename='')|tojson|safe }};
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/elm.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/saveSvgAsPng.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/undertale.min.js') }}"></script>

</html>
