<html>

  <head>
    <title>I'LL DO THE HOT VOICE!!!</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/elm.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link>
  </head>

  <body>
  </body>

  <script type="text/javascript">
    var undertale = Elm.fullscreen(
        Elm.UndertaleDialog,
        {
            staticRoot: "{{ url_for('static', filename='') }}",
            scriptRoot: "{{ request.script_root|safe }}"
        }
    );
    // passing in above doesn't seem to work?
    undertale.ports.staticRoot.send("{{ url_for('static', filename='') }}");
    undertale.ports.scriptRoot.send("{{ request.script_root|safe }}");
  </script>

</html>
