/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
/* @font-face {font-family:"8bitoperator JVE Regular";src:url("8bitoperator_JVE/8bitoperator_jve.eot?") format("eot"),url("8bitoperator_JVE/8bitoperator_jve.woff") format("woff"),url("8bitoperator_JVE/8bitoperator_jve.ttf") format("truetype"),url("8bitoperator_JVE/8bitoperator_jve.svg#8bitoperator-JVE") format("svg");font-weight:normal;font-style:normal;} */

/* https://www.behance.net/gallery/31268855/Determination-Better-Undertale-Font */
/* Converted to web font with font squirrel */
@font-face {
    font-family: 'determination_monoregular';
    src: url('fonts/DeterminationMono/dtm-mono-webfont.woff2') format('woff2'),
         url('fonts/DeterminationMono/dtm-mono-webfont.woff') format('woff'),
         url('fonts/DeterminationMono/dtm-mono-webfont.svg#determination_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UndertalePapyrus';
    src: url('fonts/UndertalePapyrus/undertalepapyrus-webfont.woff2') format('woff2'),
         url('fonts/UndertalePapyrus/undertalepapyrus-webfont.woff') format('woff'),
         url('fonts/UndertalePapyrus/undertalepapyrus-webfont.svg#undertalepapyrus-webfont') format('svg');
}

@font-face {
    font-family: 'UndertaleSans';
    src: url('fonts/UndertaleSans/undertalesans-webfont.woff2') format('woff2'),
         url('fonts/UndertaleSans/undertalesans-webfont.woff') format('woff'),
         url('fonts/UndertaleSans/undertalesans-webfont.svg#undertalesans-webfont') format('svg');
}

